.home_page {
    font-family: Georgia, sans-serif;
    height: 100vh;
    width: 100%;
    text-align: center;
    background: url(../assets/top_img_index.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.first-box {
    height: 100vh;
    width: 100%;
}