.footer {
  background: rgba(0,0,0,0.65);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 20px;
  text-align: center;
  padding: 12px 40px;
  color: #fff;
  font-size: 12px;
  .head {
    a {
      color: #fff;
      margin-left: 50px;
      &:hover {
        opacity: 0.85;
      }
    }
  }
}