.head {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  :global {
    .anticon, button {
      margin-left: 24px;
      cursor: pointer;
    }
  }
}

.categoryBox {
  .box {
    border-bottom: 1px solid #d9d9d9;
    padding: 1px 4px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    line-height: 30px;
    height: 32px;
    padding-left: 15px;
    span.placeholder {
      color: rgba(0, 0, 0, 0.65);
      opacity: 0.4;
    }
  }
  :global {
    .ant-tag, input {
      margin-top: 12px;
    }
    .ant-tag-checkable {
      border: 1px dashed #b8b8b8;
    }
    .ant-tag-checkable-checked {
      border: 1px solid rgba(0, 0, 0, 0.65);
      background-color: rgba(0, 0, 0, 0.65);
    }
  }
}

.detail {
  width: 80%;
  margin: 0 auto;
  position: relative;
  .user {
    background-color: rgba(226, 228, 226,0.2);
    padding: 12px;
    margin-bottom: 24px;
  }
  .img {
    width: 100%;
    height: 360px;
    margin: 0 auto;
    display: block;
  }
  .comments {
    .inputBox {
      background-color: rgba(226, 228, 226,0.2);
      padding: 12px;
      > div {
        display: flex;
        align-items: flex-start;
      }
    }
  }
  .extra {
    position: fixed;
    top: 30%;
    right: 6%;
    > div {
      background-color: #d9d9d9;
      border-radius: 50%;
      padding: 12px;
      margin-top: 24px;
      cursor: pointer;
      &:hover {
        opacity: 0.75;
      }
      &.likes {
        background-color: rgba(120, 187, 123, 0.45);
      }
    }
  }
}